@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body {
  background-color: #1A1A1A;
  font-family: "Poppins";
}
<<<<<<< HEAD

a {
  text-decoration: none;
}

=======
a {
  text-decoration: none;
}
>>>>>>> cec7ccb3522a82792641cf3b268898a30c076949
#logo {
  width: 130px;
  display: block;
  margin: 40px auto 0 auto;
  transition: filter 0.4s ease;
  filter: brightness(1);
}

#logo:hover {
  filter: brightness(0);
}

#photos {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  gap: 40px 450px;
  justify-content: center;
  margin-top: 80px;
}

#photos img{
  height: 150px;
  margin-top: 80px;
}

.photo-container {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid white;
  border-radius: 15px;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.7);
}

.photo-container img {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 1px;
  transform: translate(-50%, -50%) scale(1.35); 
  transform-origin: center center;
  transition: transform 0.45s cubic-bezier(.2,.9,.3,1);
  object-fit: cover;
  z-index: 1;
  
}

.photo-container::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  pointer-events: none;
  z-index: 2;
  box-sizing: border-box;
  border: 10px solid rgba(255,255,255,1); 
}

.photo-container:hover img {
  transform: translate(-50%, -50%) scale(1);
}

.caption {
  text-align: center;
  color: white;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: monospace, bold;
}

.track_link {
  color: white;
  font-size: 12px;
  font-family: monospace, bold;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

/* From Uiverse.io by bbaginuk */ 
/* Settings */
.container {
  --color: #ffffff;
  --size: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: var(--size);
  fill: var(--color);
  z-index: 2;
  margin-top: 100px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.photo-container:hover .container {
  opacity: 1;
}

.container .play {
  animation: keyframes-fill 0.3s;
}

.container .pause {
  display: none;
  animation: keyframes-fill 0.3s;
}

/* contenedor en checked */
.container input:checked ~ .play {
  display: none;
}

.container input:checked ~ .pause {
  display: block;
}

/* Esconde el checkbox por defecto */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#preview {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.main__socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.Link__instagram,
.Link__spotify,
.Link__applemusic {
  padding: 0.8em;
  outline: none;
  border: 4px solid rgba(240, 236, 236, 0.11);
  border-radius: 30%;

  background-color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
              rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.instagram { fill: #000000; }
.spotify { fill: #000000; }

.Link__instagram:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #000000;
}

.Link__instagram:hover .instagram { fill: white; }

.Link__spotify:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #000000;
}

.Link__spotify:hover .spotify { fill: white; }

.Link__applemusic:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #000000;
}

.Link__applemusic:hover .applemusic {filter: invert();}

/* ============================= */
/*        RESPONSIVE MOBILE      */
/* ============================= */

@media (max-width: 768px) {

  #logo {
    width: 150px;
    margin-top: 20px;
  }

  #photos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
    margin-top: 60px;
  }

  .photo-container {
    width: 220px;
    height: 220px;
    margin: auto;
  }
  .photo-container img {
    transform: translate(-50%, -10%) scale(2);
  }
  .photo-container:hover img {
  transform: translate(-50%, -10%) scale(1.8);
  }
  .caption {
    font-size: 18px;
    margin-top: 12px;
  }
  .container {
    --size: 35px;
  }
<<<<<<< HEAD
=======

>>>>>>> cec7ccb3522a82792641cf3b268898a30c076949
  #preview {
    margin-top: 80px;
    font-size: 28px;
  }
}
