@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body {
    background-color: #1A1A1A;
    font-family: "Poppins";
}
header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: white;
}

#photos {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 40px 450px;
    justify-content: center;
    margin-top: 100px;
}

#photos img{
    height: 150px;
    margin-top: 80px;
}

.photo-container {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid white;
  border-radius: 15px;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.7);
}

.photo-container img {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 1px;
  transform: translate(-50%, -50%) scale(1.35); 
  transform-origin: center center;
  transition: transform 0.45s cubic-bezier(.2,.9,.3,1);
  object-fit: cover;
  z-index: 1;
  
}

.photo-container::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  pointer-events: none;
  z-index: 2;
  box-sizing: border-box;
  border: 10px solid rgba(255,255,255,1); 
}

.photo-container:hover img {
  transform: translate(-50%, -50%) scale(1);
}
.caption {
    text-align: center;
    color: white;
    margin-top: 10px;
    font-size: 18px;
    font-family: monospace, bold;
}

#preview {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 120px;
}
/* From Uiverse.io by bbaginuk */ 
/*------ Settings ------*/
.container {
  --color: #ffffff;
  --size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
  z-index: 2;
  margin-top: 100px;
}

.container .play {
  position: absolute;
  animation: keyframes-fill 0.3s;
}

.container .pause {
  position: absolute;
  display: none;
  animation: keyframes-fill 0.3s;
}

/* ------ On check event ------ */
.container input:checked ~ .play {
  display: none;
}

.container input:checked ~ .pause {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    transform: scale(1.1);
  }
}
